.cardart {
  display: flex;
  width: 80vw;
  height: 90vh;
  border-radius: 30px;
  background: var(--primary-bg-color);
  color: var(--third-text-color);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  @media screen and (min-width: 576px) {
    width: 60vw;
    }
  @media screen and (min-width: 768px) {
    width: 40vw;
    }

  &__artbox{
    width: 80%;
    height: auto;
    @media screen and (min-width: 992px) {
        width: 350px;
        }
  }

  &__paybtn {
    position: absolute;
    bottom: 20px;
    right: 40px;
    img{
        object-fit: cover;
    }
  }

  &__lbl{
    margin-right: 10px;
    border-radius: 5px;
    background: var(--accent-opacity-color);
    padding: 7.5px;
  }
  &__icon{
    fill: var(--third-text-color);
  }
}
